*.user
*.aeproperties
.vs/
*.tmp
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
SkiaTest/SkiaTest/bin/
SkiaTest/bin/
SkiaTest/SkiaTest/obj/
SkiaTest/obj/
SkiaTest/SkiaTestContent/obj/
!SkiaTest/x64
!SkiaTest/x86
!SkiaTest/Libraries
SkiaMonoGameRendering/bin/
SkiaMonoGameRendering/obj/